span.PrivateTabIndicator-colorSecondary-5{
    background-color: black;
  }
.tab-information{
    margin-left: 15px;
    font-size: 19px;
    color:gray;
    cursor: pointer;
  }
span.MuiTab-wrapper{
  font-size: 15px;
}
@media (min-width: 600px){
  a.MuiTab-root {
    min-width: 0; 
  }
}

i.fa-arrow-right{
  position: absolute;
  right: 10px;
  top:50%;
  transform: translate(-50%,-50%);
  font-size: 20px;
 cursor: pointer;
}

